@mixin download-button {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	button {
		background-color: #FF7F66;
		color: white;
		font-size: 14px;
		font-weight: 600;
		line-height: 36px;
		padding: 6px 26px;
		border-radius: 4px;
		border: none;
		text-align: center;
		cursor: pointer;
		transition: all 0.5s;
		&:focus {
			outline: none;
		}
		display: flex;
		align-items: center;
		justify-content: center;

		.content-loader {
			border: 3px solid #f3f3f3;
			border-radius: 50%;
			border-top: 3px solid #FF7F66;
			border-bottom: 3px solid #FF7F66;
			-webkit-animation: spin 2s linear infinite; /* Safari */
			animation: spin 2s linear infinite;
			padding: 15px;
			margin-left: 12px;
			margin-right: 12px;
		}

		span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}
	}

	a {
		background-color: #FF7F66;
		text-decoration: none;
		color: white;
		font-size: 14px;
		font-weight: 600;
		line-height: 36px;
		padding: 6px 26px;
		border-radius: 4px;
		border: none;
		&:focus {
			outline: none;
		}

		&:hover {
			filter: grayscale(0.1);;
		}
	}
}
