@mixin select-logo {
	height: auto;
	width: auto;
	h1 {
		color: #939393;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		margin: 0 0 15px;
	}

	p {
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
		margin: 0 0 12px;
	}

	.logo-list {
		//max-height: 690px;
		max-height: 200px;
		overflow-y: scroll;
		border: 1px solid #E7E7E7;
		border-radius: 14px;
		padding: 15px;
		scrollbar-width: thin;
		display: flex;
		flex-wrap: wrap;
		button {
			flex-grow: 1;
			background: transparent;
			border: none;
			padding: 5px;
			&:focus {
				outline: none;
			}
			svg {
				border: 2px solid #F1F1F1;
				padding: 10px;
				background: transparent;
				border-radius: 20px;
				transition: .3s ease all;
				&:hover,

				&.active {
					border: 2px solid #43C2D1;
				}
			}
		}

		@media(min-width: 1024px) {
			max-height: 596px;
		}
	}
}
