@mixin select-logo {
	height: auto;
	width: auto;
	h1 {
		color: #939393;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
	}

	p {
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
	}

	.logo-list {
		max-height: 690px;
		overflow: auto;
		overscroll-behavior: contain;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 4px;
		border: 1px solid #E7E7E7;
		border-radius: 14px;
		padding: 15px;
		button {
			background: transparent;
			border: none;
			&:focus {
				outline: none;
			}
			svg {
				border: 2px solid #F1F1F1;
				padding: 10px;
				background: transparent;
				border-radius: 20px;
				transition: .3s ease all;
				&:hover,
				&.active {
					border: 2px solid #43C2D1;
				}
			}
		}
	}
}
