@import "constants";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

@import "./Start/start.scss";
@import "./Showcase/showcase.scss";
@import "./Creator/creator.scss";
