@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

/* Your own custom utilities */
.max-content {
    width: max-content;
}

.color-ui-blue-active {
    border-color:#43C2D1;
}

.color-ui-blue-inactive {
    border-color: #8B8B9C;
}

.color-ui-blue-inactive:hover {
    border-color:#43C2D1;
}

.logo-maker-logo {
    color: #FF7F66;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
}

/*@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Dancing+Script&family=Henny+Penny&family=Open+Sans&family=Pacifico&family=Roboto&display=swap");
*/
