@use "../common.scss" as default;
@import "../constants";

.logo-showcase {
    max-width: 1470px;
    margin: 15px auto;
    font-family: $noto;
    .top-section {
        position: relative;
        text-align: center;
        .back {
           @include default.back;
        }
        .logo-holder {
			@include default.logo-holder
        }
    }
    .content-section {
        margin-top: 115px;
        .titles {
            text-align: center;
            h1 {
                color: $blue;
                font-size: 36px;
                font-weight: 700;
                margin: 0 0 8px;
            }
            p {
                color: #939393;
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
		}
		.content {
			margin: 50px auto 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.logos-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.logo {
					padding: 0;
					margin: 10px;
					border: none;
					background: transparent;
					transition: all .2s ease-in-out;
					svg {
						border-radius: 10px;
					}
					&:focus {
						outline: none;
					}
					&.active,
					&:hover {
						transform: scale(1.03);
					}
				}
			}
		}
    }
	.next {
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
		background: #fff;
		text-align: center;
		padding: 25px 0;
		a {
			color: #fff;
			background-color: $light-blue;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			line-height: 36px;
			padding: 14px 80px;
			border-radius: 4px;
		}
	}
}

@media (max-width: 1440px) {
	.logo-showcase {
		max-width: 90%;
	}
}
